.header {

    background-image: url(img/header_img.png);
    width: 100%;
    height: 250px;

    
    }


h1 {
    color: red;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    
}

h2 {
    color: red;
    font-weight: bold;
    font-style: italic;
    text-align: center;

}
.songs{
    color: floralwhite;
}
.ordered{
    color: floralwhite;
}
.intro{
    color: floralwhite;
}
p {
    color: floralwhite;
    text-align: center;
}

